<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Toolbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
      .post {
        padding: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Toolbox</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                {%- if username != None -%}
                    Logged in as <a href="#" class="navbar-link">{{username}}</a> (<a href="{{url}}" class="navbar-link">Logout</a>)
                {%- else %}
                    <a href="{{url}}" class="navbar-link">Login</a>
                {%- endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Allgemeines</li>
              <li id="nav_postings"><a href="#">Nachrichten</a></li>
              <li id="nav_calendar"><a href="#">Kalender</a></li>
              <li id="nav_team"><a href="#">Team</a></li>
              <li id="nav_links"><a href="#">Links</a></li>
              
              <li class="nav-header">Projekte</li>
              {%- if username != None -%}
                {% for project in projects %}
                  <li id="nav_{{project.title}}"><a href="/project/{{project.title}}">{{project.title}}</a></li>
                {% endfor %}
              {%- endif %}
            </ul>
          </div>
        </div>
        
        <div class="span7">
            {%- if username == None -%}
                <div class="row-fluid">
                    <div class="span12">
                        <a href="{{url}}" class="navbar-link">Bitte einloggen.</a>
                    </div>
                </div>
            {%- else %}
                {% block content %}
                    <div class="row-fluid">
                        <div class="span12">
                            <p>Willkommen in der Toolbox, {{username}}.</p>
                        </div>
                    </div>
                {% endblock %}
            {%- endif %}
        </div>
        
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Team</li>
              <li><a href="#">Björn</a></li>
              <li><a href="#">Christian</a></li>
              <li><a href="#">Dirk</a></li>
              <li><a href="#">Franziska</a></li>
              <li><a href="#">Lars</a></li>
              <li><a href="#">Marcel</a></li>
              <li><a href="#">Nadia</a></li>
              <li><a href="#">Reinhold</a></li>
              <li><a href="#">Robert</a></li>
              <li><a href="#">Tobias</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; No Name Company (NoNaCo) 2013</p>
      </footer>
    </div>
  </body>
</html>
