<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Toolbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="/js/jquery/jquery.js"></script>
    <script src="/bs/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/default.css">    
    <link rel="stylesheet" href="/bs/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/fonts/font-awesome/css/font-awesome.css">
    
  </head>

  <body>

    <div class="container">

      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Toolbox</a>
          </div>
          <div class="collapse navbar-collapse">
            <p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">test@example.com</a> (<a href="/_ah/login?continue=http%3A//localhost%3A12080/&action=logout" class="navbar-link">Logout</a>)
            </p>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar -->
      
      <div class="col-lg-2 sidebar well" id="navigation" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Allgemeines</li>
            <li id="nav_postings"><a href="/postings.html">Nachrichten</a></li>
            <li id="nav_calendar"><a href="#">Kalender</a></li>
            <li id="nav_team"><a href="#">Team</a></li>
            <li id="nav_links"><a href="#">Links</a></li>
            <li class="nav-header">Projekte</li>
            <li><a class="project-link" href="#" data-project-url="ahJkZXZ-bm9uYWNvLXRvb2xib3hyNAsSB1Byb2plY3QiE3Byb2plY3RfbGlzdF9kYl9rZXkMCxIHUHJvamVjdBiAgICAgMCfCAw">Notify.me</a></li>
            <li><a class="project-link" href="#" data-project-url="ahJkZXZ-bm9uYWNvLXRvb2xib3hyNAsSB1Byb2plY3QiE3Byb2plY3RfbGlzdF9kYl9rZXkMCxIHUHJvamVjdBiAgICAgMDfCAw">SourcecodeBroker</a></li>
            <li><a class="project-link" href="#" data-project-url="ahJkZXZ-bm9uYWNvLXRvb2xib3hyNAsSB1Byb2plY3QiE3Byb2plY3RfbGlzdF9kYl9rZXkMCxIHUHJvamVjdBiAgICAgMDvCAw">Toolbox</a></li>
        </ul>
      </div>
        
      <div class="col-lg-8">
        <h2>Willkommen.</h2>
      </div>

      <div class="col-lg-2 sidebar well">
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">Team</li>
          <li><a href="#">Björn</a></li>
          <li><a href="#">Christian</a></li>
          <li><a href="#">Dirk</a></li>
          <li><a href="#">Franziska</a></li>
          <li><a href="#">Lars</a></li>
          <li><a href="#">Marcel</a></li>
          <li><a href="#">Nadia</a></li>
          <li><a href="#">Reinhold</a></li>
          <li><a href="#">Robert</a></li>
          <li><a href="#">Tobias</a></li>
        </ul>
      </div>

      <hr>

      <footer>
        <p>&copy; No Name Company (NoNaCo) 2013</p>
      </footer>

    </div>

  </body>
</html>