<!-- Start oberer Navigationsteil -->
    <div class="navbar navbar-fixed-top navbar-inverse" id="top-navigation" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Toolbox</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text pull-right">
            {%- if username != None -%}
            Logged in as <a href="#" class="navbar-link" id="logout-link">{{username}}</a> (<a href="{{url}}" class="navbar-link">Logout</a>)
            {%- else %}
            <a href="{{url}}" class="navbar-link" id="login-link">Login</a>
            {%- endif %}
          </p>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- Ende oberer Navigationsteil -->