<div class="container">
  <div class="page-header">
    <h3>Übersicht im Projekt {{project.title}}</h3>
  </div>
</div>

<div class="container">
  <div class="row well project-overview" data-urlsafe="{{project.key.urlsafe()}}">
    <ul class="nav nav-list">
{{requirements}}
    </ul>
  </div>
  
</div>

<script>
$(document).ready(function () {
  $('label.tree-toggler').parent().children('ul.tree').hide();
  $('label.tree-toggler').click(function () {
    $(this).parent().children('ul.tree').toggle(100);
  });
  $('.project-overview a').tooltip();
});
</script>