<div class="row">
    <div class="span12">
        <h2>Requirements im Projekt {{project.title}}</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titel</th>
                    <th>Inhalt</th>
                </tr>
            </thead>
            
            <tbody class="requirement-list">
                {% for requirement in requirements %}
                <tr data-operation-type="edit" data-key-type="requirement" data-key="{{requirement.key.urlsafe()}}">
                    <td data-type="id">{{requirement.id}}</td>
                    <td data-type="title">{{requirement.title}}</td>
                    <td data-type="content">{{requirement.content}}</td>
                </tr>
                {% endfor %}
                
                <tr data-operation-type="create" data-key-type="project" data-key="{{project.key.urlsafe()}}">
                  <td colspan="4">
                    <label style="width: 100%" class="btn btn-primary" data-loading-text="lade...">neues Requirement für Projekt <b style="color: black; text-shadow: 0 0 10px white;">{{project.title}}</b></label>
                  </td>
                </tr>
            </tbody>
        </table>
        
        
    </div>
</div>

<script>
  $('.requirement-list > tr').click(function(e) {
    e.preventDefault();
    var url = '/project/requirement?' + $(this).attr('data-key-type') + '-key=' + $(this).attr('data-key') + '&operation=' + $(this).attr('data-operation-type');
    $.getJSON(url, function(result) {
      $('#content').html(result.html);
    });
  });
  
  $('.project-navigator a').click(function(e) {
    e.preventDefault();
    var data_container = $(this).parent().parent(),
        type = $(this).attr('data-type'),
        key_type = data_container.attr('data-type'),
        key = data_container.attr('data-urlsafe'),
        operation = $(this).attr('data-operation'),
        url = '/project/' + type + '?' + key_type + '-key=' + key + '&operation=' + operation;
    $.getJSON(url, function(result) {
      $('#content').html(result.html);
    });
  });
</script>