<h2>Task</h2>

<form action="/task/{{task.id}}" data-urlsafe="{{project.key.urlsafe()}}" role="edit-task">
  <div class="form-group">
    <label for="id">ID</label>
    <input name="id" type="text" class="form-control" placeholder="ID" value="{{task.id}}">
    <label for="title">Titel</label>
    <input name="title" type="text" class="form-control" placeholder="Titel" value="{{task.title}}">
    <label for="content">Inhalt</label>
    <textarea name="content" class="form-control" rows="3" placeholder="Inhalt">{{task.content}}</textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">speichern</button>
    <label id="result-message" style="display: none;"></label>
  </div>
</form>

<script>
  $('form[role="edit-task"]').submit(function(e){
    /* stop form from submitting normally */
    e.preventDefault();

    /* get some values from elements on the page: */
    var $form = $(this),
        $id_field = $form.find('input[name="id"]'),
        $title_field = $form.find('input[name="title"]'),
        $content_field = $form.find('textarea[name="content"]'),
        id = $id_field.val(),
        title = $title_field.val(),
        content = $content_field.val(),
        url = $form.attr('action'),
        urlsafe = $form.attr('data-urlsafe');

    /* don't allow empty posts */
    if (id.length > 0 && title.length > 0 && content.length > 0) {
      /* Send the data using post */
      var posting = $.post(url, { id: id, title: title, content: content, urlsafe: urlsafe } );

      /* Handle server response */
      posting.done(function(data) {
        var obj = JSON.parse(data);
        if (obj.success) {
          $('#result-message').text('Speichern erfolgreich');
          $('#result-message').show();
          $('#result-message').fadeOut(2000);
        } else {
          $('#result-message').text('Fehler: Nachricht konnte nicht gespeichert werden!\n' + data);
          $('#result-message').addClass('alert alert-danger');
          $('#result-message').show();
          $('#result-message').fadeOut(10000);
        }
      });
    }
  });
</script>
