<div class="row">
  <div class="span12">
    <h2>User Stories im Projekt {{project.title}}</h2>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Requirement</th>
          <th>Titel</th>
          <th>Inhalt</th>
        </tr>
      </thead>

      <tbody class="userstory-list">
        {% for requirement_container in requirement_container_list %}
          {% for userstory in requirement_container.userstories %}
            <tr data-operation-type="edit" data-key-type="userstory" data-key="{{userstory.key.urlsafe()}}">
              <td data-type="id">{{userstory.id}}</td>
              <td style="font-weight:bold; color: black; text-shadow: 0 0 10px #3276b1;">{{requirement_container.requirement.title}}</td>
              <td data-type="title">{{userstory.title}}</td>
              <td data-type="content">{{userstory.content}}</td>
            </tr>
          {% endfor %}

          <tr data-operation-type="create" data-key-type="requirement" data-key="{{requirement_container.requirement.key.urlsafe()}}">          
            <td colspan="4">
              <label style="width: 100%" class="btn btn-primary" data-loading-text="lade...">neue User Story für Requirement <b style="color: black; text-shadow: 0 0 10px white;">{{requirement_container.requirement.title}}</b></label>
            </td>
          </tr>
        {% endfor %}
      </tbody>
            
    </table>
  </div>
</div>

<script>
  $('.userstory-list > tr').click(function(e) {
    e.preventDefault();
    var url = '/project/userstory?' + $(this).attr('data-key-type') + '-key=' + $(this).attr('data-key') + '&operation=' + $(this).attr('data-operation-type');
    $.getJSON(url, function(result) {
      $('#content').html(result.html);
    });
  });
</script>












