<div class="row-fluid">
    <div class="span12">
        <h2>User Stories im Projekt {{project.title}}</h2>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Requirement</th>
                    <th>Titel</th>
                    <th>Inhalt</th>
                </tr>
            </thead>
            
            <tbody>
                {% for userstory in userstories %}
                <tr>
                    <td>{{userstory.id}}</td>
                    <td>{{requirement_titles[userstory.key.id()]}}</td>
                    <td>{{userstory.title}}</td>
                    <td>{{userstory.content}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$('.table > tbody > tr').click(function() {
    alert('green');
});
</script>