<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		
		<title>CS 253 Blog - by Dirk Podolak</title>
	</head>

	<body>
		<a href="/blog" class="main-title">CS 253 Blog - by Dirk Podolak</a>
		
		<h2>Hello {{username}}</h2>
		
		<div id="content">
			<h2>new post</h2>
			
			<form method="post">
				<label>
					<div>subject</div>
					<input type="text" name="subject" value="{{subject}}">
				</label>
				
				<label>
					<div>blog</div>
					<textarea name="content">{{content}}</textarea>
				</label>
				
				<div class="error">{{error}}</div>
				
				<input type="submit">
			</form>
		</div>
	</body>
</html>
