<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />

		<title>CS 253 Blog - by Dirk Podolak</title>
	</head>

	<body>
		<a href="/blog" class="main-title">CS 253 Blog - by Dirk Podolak</a>
		
		<h2>Welcome {{username}}</h2>
		
		<form method="post">
			<input type="submit" name="blog" value="see blog">
			<input type="submit" name="newpost" value="new post">
			<input type="submit" name="logout" value="log out">
		</form>
	</body>

</html>
